/* placeholder */
.tiptap .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}

img.focus {
  @apply ring-0 ring-transparent ring-offset-2 transition dark:ring-offset-primary;
}
